<!doctype html>
<html lang="en">
  <head>
    <title>
      Inox Nguyên Hùng, nơi cung cấp các sản phẩm inox gia dụng và công nghiệp
    </title>
   <% include "commons/header" %>
  </head>
  <body>
    <% include "body/navbar.html" %>
    
        
     
    <!-- END header -->
    
    
    <!-- END slider -->

    <% content %>
    <!-- END section -->
    
  

   <% include "body/footer.html" %>
    <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>
    <% include "commons/footer.html" %>
    <script>
        $(".navbar-fixed-top").autoHidingNavbar({
          // see next for specifications
        });
    </script>
  </body>
</html>