<% extend "base" %>
<% include "body/home-slider.html" %>
<% if @isMobile() :%>
<section>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="container">
                    
                            <a href="tel:0913-953-574">
                                    Hotline (bấm vào đây):0913 953 574
                                    <img src="<%- @getAppStatic('/img/hotline-01.png')%>" style="height:64px">
                            </a>
                            
                    
            </div>
                
        </div>
    </div>
    </section>
<% end %>
<% include "body/body.html" %>
