<% extend "base" %>
<section class="section border-t">
<div class="container">
    
        <div class="row">
    
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h2>Phương châm</h2>
                    <p>
                            Với phương châm ”Khách hàng là giá trị cơ bản, là lý do duy nhất để doanh nghiệp tồn tại và phát triển". Luôn khẳng định khách hàng là trung tâm của mọi hoạt động mà chúng tôi hướng đến. Khẳng định uy tín, thương hiệu với mục tiêu không ngừng phát triển hoàn thiện để đạt đến những tầm cao mới. Cam kết chất lượng sản phẩm cung cấp đến khách hàng là tốt nhất.
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h2>Tầm nhìn</h2>
                        <p>
                                Máy Chế Biến Thực Phẩm Nguyên Hùng mong muốn trở thành đơn vị chuyên nghiệp nhất trong lĩnh vực sản xuất nồi điện nấu phở, nồi hơi nấu đậu, tủ hấp cơm, máy ép nước mía chuyên nghiệp uy tín nhất tại Lâm Đồng. Hoạt động hiệu quả, tăng trưởng bền vững dựa trên nền tảng hài hòa lợi ích giữa chúng tôi và khách hàng.
                        </p>
                    </div>
        </div>
        <div class="row">
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                &nbsp;
            </div>
            
        </div>
        <div class="row">
            
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2>Sứ mệnh</h2>
                <p>Luôn không ngừng nỗ lực, cải thiện, nhằm mang đến cho khách hàng những giá trị tốt nhất.</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h2>Giá trị cốt lõi</h2>
                    <p>Dựa trên nền tảng "Uy tín - Chuyên nghiệp - Hiệu quả"
                        <ul>
                            <li>
                                    Uy tín: Đặt lên hàng đầu, lấy uy tín làm vũ khí cạnh tranh và bảo vệ uy tín như bảo vệ danh dự.
                            </li>
                            <li>
                                    Chuyên nghiệp: Làm đòn bẩy để phát triển, là động lực tạo ra các giá trị khác biệt, mang bản sắc riêng trong mỗi sản  phẩm, dịch vụ.

                            </li>
                        </ul>
                </div>
        </div>
</div>
</section>
