<section class="section border-t">
        <div class="container">
          <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center">
              <h2 class="text-uppercase heading border-bottom mb-4">Recent Works</h2>
              <p class="mb-3 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
              <p><a href="works.html" class="btn btn-primary">View All Works</a></p>
            </div>
          </div>
    
          <div class="row no-gutters">
            <div class="col-md-4 element-animate">
              <a href="works-single.html" class="link-thumbnail">
                <h3>Wood Polishing</h3>
                <span class="ion-plus icon"></span>
                <img src="img/work_thumb_1.jpg" alt="Image placeholder" class="img-fluid">
              </a>
            </div>
            <div class="col-md-4 element-animate">
              <a href="works-single.html" class="link-thumbnail">
                <h3>General Construction Building</h3>
                <span class="ion-plus icon"></span>
                <img src="img/work_thumb_2.jpg" alt="Image placeholder" class="img-fluid">
              </a>
            </div>
            <div class="col-md-4 element-animate">
              <a href="works-single.html" class="link-thumbnail">
                <h3>House Renovation</h3>
                <span class="ion-plus icon"></span>
                <img src="img/work_thumb_3.jpg" alt="Image placeholder" class="img-fluid">
              </a>
            </div>
    
          </div>
        </div>
      </section>