<footer class="site-footer" role="contentinfo">
    <div class="container">
      <div class="row">
        
        <div class="col-md-6">
          <ul class="list-unstyled footer-link">
            <li class="d-flex"><span class="mr-3">A:</span><span class="text-black">46 Phạm Ngũ Lão, Đà Lạt, Lâm Đồng</span></li>
            <li class="d-flex"><span class="mr-3">T:</span><span class="text-black">0913 953 574</span></li>
            <li class="d-flex"><span class="mr-3">E:</span><span class="text-black">info@yourdomain.com</span></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3><%- @getAppRes("menu.quick-link","Tham khảo nhanh")%></h3>
          <ul class="list-unstyled footer-link">
            
            
            <a class="nav-link" href="<%- @getAppUrl('about')%>" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%- @getAppRes("menu.about","Giới thiệu") %></a>
            <a class="nav-link" href="<%- @getAppUrl('services')%>" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%- @getAppRes("menu.services","Dịch vụ") %></a>
            <a class="nav-link" href="<%- @getAppUrl('contact')%>" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%- @getAppRes("menu.contact","Liên hệ") %></a>
            
          </ul>
        </div>
        
      </div>
    </div>
  </footer>