<section class="home-slider owl-carousel">
  <% for item in @model.images :%>
  <%
      
      img_url=@getAbsUrl()+"/admin/resources/images/"+item.photoId
   %>
    <div class="slider-item bk-product" style="background-image: url('<%- img_url %>');">
      
      <!-- <div class="container">
        <div class="row slider-text align-items-center justify-content-center text-center">
          <div class="col-md-7 col-sm-12 element-animate">
            <h1>Creating A Brighter Future</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
            <p><a href="#" class="btn btn-primary">Download Now!</a></p>
          </div>
        </div>
      </div> -->

    </div>
  <% end %>

   

  </section>
  <script>
    $(document).ready(function(){
      
      function fixSlide(){
        var footerHeight=0;
        <% if @isMobile() :%>
          footerHeight=80;
        <% end %>
        var windowHeight=$(window).height();
        $(".slider-item.bk-product").css({
          height:windowHeight-$('header[role="banner"]').height()-footerHeight,
          "min-height":windowHeight-$('header[role="banner"]').height()-footerHeight,
          "max-height":windowHeight-$('header[role="banner"]').height()-footerHeight,
        });
      }
      fixSlide();
      $(window).resize(function(){
        
        fixSlide();
      });
    })
  </script>