<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('<%- @getAppStatic("img/slider-2.jpg")%>');">
      
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center text-center">
          <div class="col-md-7 col-sm-12 element-animate">
            <h1>Creating A Brighter Future</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
            <p><a href="#" class="btn btn-primary">Download Now!</a></p>
          </div>
        </div>
      </div>

    </div>

    <div class="slider-item" style="background-image: url('<%- @getAppStatic("img/slider-1.jpg")%>');">
      <div class="container">
        <div class="row slider-text align-items-center">
          <div class="col-md-8 col-sm-12 element-animate">
            <h1>Trusted Construction &amp; Development Since 1889</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>
          </div>
        </div>
      </div>
      
    </div>

  </section>