.bk-product{
    background-size: contain !important;
    background-color:#0f0f0f;
}
.owl-dots{
    display: none !important;
}
@media not screen and (max-width: 600px) {
    .bk-contact {
        background-image: url("img/img-01.png");
        background-position: left top;
        background-repeat: no-repeat;
        
    }
}